@font-face {
  font-family: "pacifico";
  src: url(/fonts/Pacifico-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "nunito";
  src: url(/public/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 600 700;
}
:root {
  --very-light-gray: #ebeaea;
  --dark-gray: #636363;
  --light-gray: #d9d9d9;
  --dark-blue: #213bc6;
  --red-accent: #fb1351;
  --cyan: #37c6f3;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/*=============start styling==========*/
body {
  font-family: "nunito";
  font-weight: 400;
}
